{{!-- <!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Cormorant+SC" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/style.css">

  <title>Scrape The News!</title>
</head>

<body>

  {{{body}}}

</body>

</html> --}}



<!DOCTYPE html>
<html lang="en">

<head>
  <title>Scrape The News!</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.0.0/materia/bootstrap.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Cormorant+SC" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
</head>

<body>

  {{{body}}}



</body>

</html>