<div class="container">
    <!-- <div class="text-center" id="nav">
      <h5>Scrape The News!</h5>
    </div> -->
    <div class="img-wrapper">
        <img class="img-responsive" src="img/img-home.jpg">
        <div class="img-overlay">
            <a href="/test" class="btn btn-md btn-info">Start Scraping</a>
        </div>
    </div>
</div>


  
  