<div class="container-fluid">
    <div class="wrapper">
            <a href="/test" class="btn btn-md btn-info" id="start">Start Scraping</a>
    </div>
</div>

{{!-- Old Code --}}

<!-- <div class="text-center" id="nav">
      <h5>Scrape The News!</h5>
    </div> -->

