

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="media">
                <div id="img-fluid"></div>
                <div class="media-body">
                    <div id="title"></div>
                    <div id="summary"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="notes"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="btn-group" role="group">

                <button class="btn btn-secondary" type="button">
                    << Prev
                </button>
                <button class="btn btn-secondary btn-save" type="button">
                    Save
                </button>
                <button class="btn btn-secondary" type="button">
                    Comment
                </button>
                <button class="btn btn-secondary" type="button">
                    Next >>
                </button>
            </div>
        </div>
    </div>
</div>


{{!-- Old Code --}}

{{!-- <div class="container">
  <div id="_id">
    {{!-- article section --}}
    <div id="article">
      <div id="title"></div>
      <div id="link"></div>
      <div id="image"></div>
    </div>
    {{!-- comment section --}}
    <div id="comments">
      <div id="notes"></div>
    </div>
  </div>
</div> --}}

{{!-- <div class="row">
			<div class="col-md-12">
				
			</div>
		</div> --}}